<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ratarmount</string>
	<key>CFBundleDisplayName</key>
	<string>ratarmount</string>
	<key>CFBundleIdentifier</key>
	<string>org.ratarmount.gui</string>
	<key>CFBundleExecutable</key>
	<string>ratarmount-gui</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-tar-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>org.tukaani.tar-xz-archive</string>
				<string>org.tukaani.tar-bzip2-archive</string>
				<string>org.tukaani.zstd-archive</string>
				<string>org.tukaani.tar-zst-archive</string>
				<string>public.zip-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>public.iso-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
				<string>tar.gz</string>
				<string>tgz</string>
				<string>tar.bz2</string>
				<string>tbz</string>
				<string>tar.xz</string>
				<string>txz</string>
				<string>tar.zst</string>
				<string>tzst</string>
				<string>zip</string>
				<string>7z</string>
				<string>iso</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.tukaani.tar-zst-archive</string>
			<key>UTTypeDescription</key>
			<string>Zstandard compressed TAR archive</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tar.zst</string>
					<string>tzst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.tukaani.tar-bzip2-archive</string>
			<key>UTTypeDescription</key>
			<string>Bzip2 compressed TAR archive</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tar.bz2</string>
					<string>tbz</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
